In [1]:
#importing important libraries
import numpy as np
from LR import LogisticRegression

In [2]:
import tensorflow as tf

TRAIN_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"
TEST_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/eval.csv"

train_file_path = tf.keras.utils.get_file("train.csv", TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file("eval.csv", TEST_DATA_URL)

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

train = pd.read_csv(train_file_path)

In [4]:
train.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

# Pipeline and preprocessing

In [5]:
num_pipeline = Pipeline([('std_scaler', StandardScaler())])
cat_pipeline = Pipeline([('one_hot_encoding', OneHotEncoder(handle_unknown = "ignore", sparse = False))])

In [6]:
num_attributes = train.select_dtypes(include=[np.number]).columns.tolist()
num_attributes.remove("survived")
cat_attributes = train.select_dtypes(exclude=[np.number]).columns.tolist()

In [7]:
target = train['survived']
features = train.drop(["survived"], axis=1)

In [8]:
full_pipeline = ColumnTransformer([
            ("num", num_pipeline, num_attributes),
            ("cat", cat_pipeline, cat_attributes)])

In [9]:
features = full_pipeline.fit_transform(features)

In [10]:
lr = LogisticRegression(10,0.01)

In [11]:
weights, bias = lr.fit(features,target)

In [12]:
predictions = lr.predict(features,target,weights,bias)

==============Epoch 0 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 1 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 2 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 3 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 4 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 5 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 6 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 7 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 8 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797

==============Epoch 9 ========
Training loss 0.42073998986640326
Accuracy:  0.8165869218500797